@import url('https://fonts.googleapis.com/css2? family= Akshar:wght@300 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Odibee+Sans&display=swap');

body{
  margin:0px;
  padding:0px;
  background:#1C1C1C;
}
a{
  text-decoration:none;
  color:gray;
  
}
.menu{
  
  display:flex;
  list-style:none;
}
.topo{
  justify-content:space-between;
  text-align:center;
  
  padding:20px;
  display:flex;
  background:black;
}
.menu li a{
  margin-left:10px;
  padding:10px;
  font-family:arial;
  text-transform:uppercase;
  letter-spacing:2px
}
h1{
  font-family: 'Akshar', sans-serif;
  text-align:center;
  color:gray;
  letter-spacing:5px;
}
h3{
  color:gray;
  text-transform:uppercase;
  font-family:'Akshar', sans-serif;
  letter-spacing:5px;
}
img{
  display:inline-block;
  width:100%;
  
  border-radius:20px;
  
  flex-wrap:wrap;
}
.container{
  text-align:center;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
}
.container div{
  flex:1 1 300px;
  margin: 20px;
}
p{
  font-family:"Akshar", sans-serif;
  color:white;
  text-align:center;
}
img:hover{
  border:4px solid white;
}
